paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.synctex.gz
paper/*.vtc
paper/whynotw.pdf

code/Makefile.coq
code/Makefile.coq.conf
code/.Makefile.coq.d
code/**/*.vo
code/**/*.vok
code/**/*.vos
code/**/*.glob
code/**/.*.aux
